.timelineContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto; /* Pastikan bisa di-scroll */
  }  
  
  .timelineTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .vertical-timeline-element-content {
    padding: 1rem 1.5rem !important;
    font-size: 1rem;
  }
  
  .vertical-timeline-element-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .vertical-timeline-element-subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: #888;
  }
  
  .vertical-timeline::before {
    background: #222831 !important; /* Warna garis timeline */
  }  

  .centerText {
    text-align: center;
    margin-bottom: 20px;
  }