.fullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Mengisi seluruh tinggi layar */
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  color: var(--ifm-color-primary) !important;
  font-size: 2.3rem;
}

.heroSubtitle {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--ifm-color-primary); /* Cursor effect */
  width: 0;
  animation: typing 10s steps(20, end)  infinite alternate, 
             blink 0.7s infinite;
}

/* Animasi mengetik dan menghapus */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 47%; /* Sesuai jumlah karakter teks */
  }
  100% {
    width: 0;
  }
}

/* Animasi kursor berkedip */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.appLogo {
  height: 55vmin;
  pointer-events: none;
  margin-top: -7%; /* Menggeser logo ke atas */
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: app-logo-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Pastikan tetap putih di dark mode */
html[data-theme='dark'] .whiteBackgroundContainer {
  background-color: white !important;
  color: black !important;
}

.dynamicHeight {
  min-height: auto;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Tambahkan margin untuk HomepageHandbooks */
.handbooksSection {
  margin: 4rem 0;
  min-height: 100vh;
}

/* CSS untuk responsive container tanpa scroll */
.responsiveContainer {
  height: 100%; /* Menjamin tinggi kontainer sesuai ukuran elemen lainnya */
  width: 100%; /* Menjamin lebar kontainer sesuai ukuran layar */
  box-sizing: border-box; /* Pastikan padding dan margin tidak mempengaruhi ukuran */
  display: flex;
  flex-direction: column; /* Menyusun konten secara vertikal */
  overflow: hidden; /* Menyembunyikan scroll */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: -3.5rem;
  }

  .heroSubtitle {
    display: none !important;
  }

  .container {
    max-width: 90%;
    text-align: center;
  }
}

/* Media Query untuk perangkat mobile */
@media screen and (max-width: 768px) {
  .responsiveContainer {
    flex-direction: column; /* Memastikan konten tetap vertikal */
  }
}

/* Media Query untuk perangkat lebih besar */
@media screen and (min-width: 768px) {
  .responsiveContainer {
    flex-direction: column; /* Memastikan konten tetap vertikal */
  }
}