/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .fullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Mengisi seluruh tinggi layar */
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroBanner {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: -3.5rem;
  }

  .heroSubtitle {
    display: none !important;
  }

  .container {
    max-width: 90%;
    text-align: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  color: var(--ifm-color-primary) !important;
  font-size: 2.3rem;
}

.heroSubtitle {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--ifm-color-primary); /* Cursor effect */
  width: 0;
  animation: typing 10s steps(20, end)  infinite alternate, 
             blink 0.7s infinite;
}

/* Animasi mengetik dan menghapus */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 47%; /* Sesuai jumlah karakter teks */
  }
  100% {
    width: 0;
  }
}

/* Animasi kursor berkedip */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.appLogo {
  height: 55vmin;
  pointer-events: none;
  margin-top: -7%; /* Menggeser logo ke atas */
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: app-logo-spin infinite 5s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.whiteBackgroundContainer {
  width: 100%;
  min-height: 100%; /* Sesuaikan dengan heroBanner */
  background-color: white !important; /* Tetap putih di dark mode */
  color: black !important; /* Pastikan teks tetap hitam */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Pastikan tetap putih di dark mode */
html[data-theme='dark'] .whiteBackgroundContainer {
  background-color: white !important;
  color: black !important;
}

html {
  scroll-behavior: smooth;
}

.scrollContainer {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.scrollableSection {
  scroll-margin-top: 80px; /* Agar smooth scroll tidak terpotong header */
}

.dynamicHeight {
  min-height: auto;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Tambahkan margin untuk HomepageHandbooks */
.handbooksSection {
  margin: 4rem 0;
  min-height: 100vh;
}