/* Main Container */
.portfolioContainer {
  max-width: 1200px;
  margin: 2% 5%;
  text-align: center;
  position: relative;
}

.fixedContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.buttonsContainerFixed {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: sticky;
  top: 0;
  background: white;
  padding: 15px 0;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

/* Filter button */
.filterButton {
  padding: 10px 20px;
  border: 2px solid var(--ifm-color-primary);
  background-color: white;
  color: var(--ifm-color-primary);
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.filterButton:hover {
  background-color: var(--ifm-color-primary);
  color: white;
}

.filterButton.active {
  background-color: var(--ifm-color-primary);
  color: white;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.galleryItem {
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.galleryItem:hover {
  transform: scale(1.02);
}

.galleryImage {
  width: 100%;
  transition: filter 0.2s linear;
  border: 0.5px solid #ccc;
}

.galleryImage:hover {
  filter: brightness(0.2);
}

.cardContent {
  padding: 15px;
}

.projectTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.projectCategory {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.projectTech {
  font-size: 14px;
  font-weight: bold;
  color: var(--ifm-color-primary);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.buttonOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
}

.iconButton {
  background: transparent;
  color: white;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s linear;
}

.iconButton:hover {
  border: 2px solid var(--ifm-color-primary);
}

.iconButton.active {
  background-color: var(--ifm-color-primary);
  color: white;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 30vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0; 
  border-radius: 10px;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageContainer:hover .galleryImage,
.imageContainer:focus-within .galleryImage {
  filter: brightness(30%);
}

.imageContainer:hover .buttonOverlay,
.imageContainer:focus-within .buttonOverlay {
  opacity: 1;
  visibility: visible;
}

.buttonOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s linear, visibility 0.1s linear;
}

.projectDescription {
  font-size: 14px;
  color: black;
  margin: 5px 0;
}

/* Title Section */
.titleSection {
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #4a5568;
}

.techButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 1px solid var(--ifm-color-primary);
  background: transparent;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.techIcon {
  font-size: 21px;
  color: var(--ifm-color-primary);
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  border: 2px solid var(--ifm-color-primary);
  background: transparent;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.techButton:hover {
  background: var(--ifm-color-primary);
}

.techButton:hover .techIcon {
  color: #fff;
}

.active {
  background: var(--ifm-color-primary);
}

.active .techIcon {
  color: #fff;
}

[data-theme='dark'] .fixedContainer {
  background-color: #222;
}

[data-theme='dark'] .buttonsContainerFixed {
  background: #222;
  border-bottom: 1px solid #444;
}

[data-theme='dark'] .filterButton {
  background-color: #222;
  border-color: var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}

[data-theme='dark'] .filterButton:hover,
[data-theme='dark'] .filterButton.active {
  background-color: var(--ifm-color-primary);
  color: #fff;
}

[data-theme='dark'] .galleryItem {
  background: #222;
  border: 1px solid #333;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

[data-theme='dark'] .galleryItem:hover {
  transform: scale(1.02);
}

[data-theme='dark'] .cardContent {
  color: #ddd;
}

[data-theme='dark'] .projectTitle {
  color: var(--ifm-color-primary);
}

[data-theme='dark'] .projectCategory {
  color: #aaa;
}

[data-theme='dark'] .projectTech {
  color: var(--ifm-color-primary);
}

[data-theme='dark'] .iconButton {
  background-color: #333;
  color: #fff;
}

[data-theme='dark'] .iconButton:hover {
  background: var(--ifm-color-primary);
  color: #fff;
}

[data-theme='dark'] .title {
  color: #f0f0f0;
}

@media screen and (max-width: 1024px) {
  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .galleryGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .buttonsContainerFixed {
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0;
  }

  .filterButton {
    font-size: 14px;
    padding: 8px 15px;
  }

  .portfolioContainer {
    margin: 5% 5%;
  }

  .projectTitle {
    font-size: 16px;
  }

  .projectCategory,
  .projectTech,
  .projectDescription {
    font-size: 12px;
  }

}

@media screen and (max-width: 600px) {
  .galleryGrid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .galleryGrid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 1.7rem;
  }

  .portfolioContainer {
    margin: 5% 5%;
  }

  .buttonOverlay {
    flex-wrap: wrap;
    overflow-x: auto;
    max-width: 90%;
  }
}