/* Main Container */
.stackGalleryContainer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.stackSlider {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 icons per row */
    gap: 30px; /* Adding gap between icons */
    padding: 10px;
    width: 100%;
}

.techIconWrapper {
    display: flex;
    justify-content: center;  /* Aligning horizontally to the center */
    align-items: center;      /* Aligning vertically to the center */
    height: 100%;             /* Ensuring the wrapper takes full height to center vertically */
}

.techIcon {
    font-size: 3.5rem; /* Standard icon size */
    transition: transform 0.3s ease; /* Smooth transition on hover */
}

.largeIcon {
    font-size: 4rem; /* Icon size when hovered */
}

.techIconWrapper:hover .techIcon {
    transform: scale(1.2); /* Zoom effect on hover */
}  

/* Responsive design for tablets and smaller devices */
@media screen and (max-width: 1024px) {
    .stackSlider {
        grid-template-columns: repeat(6, 1fr); /* 4 icons per row on medium screens */
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .stackSlider {
        grid-template-columns: repeat(4, 1fr); /* 3 icons per row on tablet screens */
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .stackSlider {
        grid-template-columns: repeat(4, 1fr); /* 2 icons per row on mobile screens */
        gap: 15px;
    }

    .techIconWrapper {
        font-size: 2.5rem; /* Smaller icon size for mobile */
    }

    .techIcon {
        font-size: 3rem; /* Adjusting icon size for better mobile display */
    }
}

/* Portfolio Section */
.portfolioContainer {
    max-width: 1200px;
    margin: 2% 5%;
    text-align: center;
    position: relative;
}

.fixedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

[data-theme='dark'] .fixedContainer {
    background-color: #222;
}

[data-theme='dark'] .buttonsContainerFixed {
    background: #222;
}

/* Title Section */
.titleSection {
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 8px; /* Adding space between text and border */
}

.title::after {
    content: "";
    display: block;
    width: 50%; /* Border length (50% of the text width) */
    height: 3px;
    background-color: var(--ifm-color-primary);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Centering the border below the text */
}

.description {
    font-size: 1rem;
    text-align: center;
    margin-top: 8px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}